<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SimpleBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SimpleBackup.Properties.Settings>
            <setting name="Target_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Backup_Interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Maximum_Number_of_Backups" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Software_Render" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Locale" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </SimpleBackup.Properties.Settings>
    </userSettings>
</configuration>
